{% extends "base_template.html" %}
{% block title %}User Info{% endblock %}
{% block content %}
<form action="" method="post">
    <label for="name">Api Key: </label>
    <input type="text" id="name" name="name" /><br>
    <label for="name">Consumer Secret: </label>
    <input type="text" id="email" name="name" /><br>
    <label for="name">Access Token Secret: </label>
    <input type="text" id="password" name="name" /><br>
    <input type="submit" id="send-signup" name="signup" value="Registrar" />
</form>
{% endblock %}